body {
    background-color: #dfcdbe;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500;
    width: 40%;
  }
h1 {
    display: block;
    margin-left: 700px;
    width: 40%;
  }